.page-main__header {
  max-width: 320px;
  margin: 0 auto;
  padding: 32px 20px;

  @media (min-width: $breakpoint-medium) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $breakpoint-medium;
    padding: 64px 64px 38px;
  }

  @media (min-width: $breakpoint-large) {
    max-width: $breakpoint-large;
  }
}

.page-main__heading {
  margin: 0;

  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $breakpoint-medium) {
    margin-right: 32px;

    font-size: 40px;
  }
}

.page-main__backlink {
  display: none;

  @media (min-width: $breakpoint-medium) {
    display: block;
  }
}

.page-main__body {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $breakpoint-medium) {
    max-width: $breakpoint-medium;
    padding-right: 64px;
    padding-left: 64px;
  }

  @media (min-width: $breakpoint-large) {
    max-width: $breakpoint-large;
  }
}
