$color-white: #ffffff;
$color-gray-900: #242424;
$color-gray-800: #292929;
$color-gray-100: #f8f5f2;
$color-black: #000000;
$color-primary-400: #826550;
$color-primary-600: #6a4d38;

$breakpoint-medium: 768px;
$breakpoint-large: 1080px;
