.prices {
    width: 940px;
    margin: 300px auto;
    border-spacing: 0;
}

.prices__heading {
    padding: 24px;

    color: white;
    background-color: coral;
}

.prices__item {
    width: 20%;
    padding: 17px 22px;
    
    background-color: white;
    border: 1px solid #000;

    font-weight: 400;
    text-align: left;
}

/* Width and colors */
.prices__heading {
    border-right: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
}

.prices__heading:last-child {
    border-right: 2px solid coral;
}

.prices__heading:nth-child(2) {
    border-left: 1px solid coral;
}

tr:first-child .prices__item {
    border-top-width: 2px;
    border-top-color: coral;
}

tr:first-child .prices__item:first-child {
    border-top-color: #000;
}

.prices__item:last-child {
    border-right-width: 2px;
}

tr:last-child .prices__item {
    border-bottom-width: 2px;
}

.prices__item:first-child {
    border-left-width: 2px;
}

/* Radius */
.prices__heading:nth-child(2) {
    border-top-left-radius: 10px;
}

.prices__heading:last-child {
    border-top-right-radius: 10px;
}

tr:first-child .prices__item:first-child {
    border-top-left-radius: 10px;
}

tr:last-child .prices__item:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child .prices__item:last-child {
    border-bottom-right-radius: 10px;
}
